<h1
  style="
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #111827;
    margin: 0 0 16px;
  "
>
  Olá <span style="color: {{PRIMARY_COLOR}}">{{NAME}}</span>, seja bem-vindo(a) à
  {{COMPANY_NAME}}! 🚀
</h1>
<p
  style="
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #374151;
    line-height: 1.5;
    margin: 0 0 16px;
  "
>
  Para ativar sua conta e começar a aproveitar todos os recursos da plataforma,
  confirme seu e-mail clicando no botão abaixo:
</p>
<br />
<div style="padding-bottom: 36px">
  <a
    href="{{URL}}"
    style="
      background-color: {{PRIMARY_COLOR}};
      color: white;
      padding: 10px 20px;
      border-radius: 12px;
      text-decoration: none;
      font-weight: 600;
    "
    >Confirmar a minha conta</a
  >
</div>

<p
  style="
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #374151;
    line-height: 1.5;
    margin: 0 0 16px;
  "
>
  Caso tenha dúvidas ou precise de ajuda, você pode nos contatar a qualquer
  momento.
</p>
<p
  style="
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #374151;
    line-height: 1.5;
  "
>
  Forte abraço,<br />
  Equipe {{COMPANY_NAME}}
</p>